@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

@keyframes gradient-x {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  animation: gradient-x 3s ease infinite;
}

.react-calendar__tile.highlight {
  background: #0e45b7;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}
